# TUPLE:- ORDERED , NOCHANGABLE, ALLOW DUPLICATE

In [1]:
#PRINT A TUPLE AND IT'S TYPE
tup=("gagan","vishal","pawan")
print(tup)
print(type(tup))

('gagan', 'vishal', 'pawan')
<class 'tuple'>

In [6]:
#TUPLE DOESN'T CHANGABLE THAN CONVERT THE LIST AND CHANGE THE ITEM AND THAN AGAIN CONVERT TUPLE
tup1=("gagan","vishal","pawan","gagan")
l=list(tup1)
print(l)
l.insert(1,"pranav")
tup1=tuple(l)
print(tup1)

['gagan', 'vishal', 'pawan', 'gagan']
('gagan', 'pranav', 'vishal', 'pawan', 'gagan')

In [21]:
tup2=(1,2,3,"gagan")
li=(1,2,3,"gagan")
l=list(tup2)
l1=list(li)
print(l)
print(l1)
l.extend(l1)
print(l)
tup2=tuple(l)
print(tup2)
print(tup2[:2])

[1, 2, 3, 'gagan']
[1, 2, 3, 'gagan']
[1, 2, 3, 'gagan', 1, 2, 3, 'gagan']
(1, 2, 3, 'gagan', 1, 2, 3, 'gagan')
(1, 2)

In [12]:
#INDEXING
tu=("gagan","vishal","pawan","tushank","pranav")
print(tu[1])
print(tu[4])
print(tu[0:3])
print(tu[0:5:2])
print(tu[-5:-1])
print(tu[-1:-6:-2])
print(tu[:5])
print(tu[2:])

vishal
pranav
('gagan', 'vishal', 'pawan')
('gagan', 'pawan', 'pranav')
('gagan', 'vishal', 'pawan', 'tushank')
('pranav', 'pawan', 'gagan')
('gagan', 'vishal', 'pawan', 'tushank', 'pranav')
('pawan', 'tushank', 'pranav')

In [15]:
#ENTER A NEW VALUE USE OF INSERT FUNCTION
tuu=("gagan","vishal","pawan","pranav","dida")
g=list(tuu)
print(g)
g.insert(1,"tej")
print(g)
tuu=tuple(g)
print(tuu)

['gagan', 'vishal', 'pawan', 'pranav', 'dida']
['gagan', 'tej', 'vishal', 'pawan', 'pranav', 'dida']
('gagan', 'tej', 'vishal', 'pawan', 'pranav', 'dida')

In [19]:
#USE OF APPEND FUNCTION
tuuu=("gagan","pawan","pranav","dida")
h=list(tuuu)
print(h)
h.append("priti")
print(h)
tuuu=tuple(h)
print(tuuu)

['gagan', 'pawan', 'pranav', 'dida']
['gagan', 'pawan', 'pranav', 'dida', 'priti']
('gagan', 'pawan', 'pranav', 'dida', 'priti')

In [22]:
#USE OF POP FUNCTION TO DELETE VALUE
tuuuu=("gagan","pawan","pranav","dida")
i=list(tuuuu)
print(i)
i.pop()#WITHOUT GIVEN INDEX NUM POP DELETE A BYDEFAULT LAST VALUE OF THE TUPLE
tuuuu=tuple(i)
print(tuuuu)

['gagan', 'pawan', 'pranav', 'dida']
('gagan', 'pawan', 'pranav')

In [23]:
#USE OF POP FUNCTION TO DELETE VALUE
tuuuu1=("gagan","pawan","pranav","dida")
i=list(tuuuu1)
print(i)
i.pop(1)# GIVEN INDEX NUM POP DELETE A  VALUE of according to indexing in  THE TUPLE
tuuuu1=tuple(i)
print(tuuuu1)

['gagan', 'pawan', 'pranav', 'dida']
('gagan', 'pranav', 'dida')

In [27]:
#USE OF REMOVE FUNCTION DELETE A VALUE TO THE TUPLE
gu=("gagan","pawan","dida","tej","akki")
r=list(gu)
print(r)
r.remove("akki")# NOT GIVEN INDEX NUM THAN GIVEN VALUE NAME 
gu=tuple(r)
print(gu)

['gagan', 'pawan', 'dida', 'tej', 'akki']
('gagan', 'pawan', 'dida', 'tej')

In [2]:
t=(9)#wrong way to defined a tuple with single element
t1=(8,)#right way to defined a tuple with single element seperate a comma(,)
print(t)
print(t1)

9
(8,)

In [1]:
#EMPTY TUPLE
n=()
print(type(n))

<class 'tuple'>

In [1]:
p=(1,2,4,3,5,1,3,2,3)
print(p.count(1))

2

In [11]:
print(p)
print(2 in p)
print(6 in p)
print(5 not in p)
print(sum(p))
print(max(p))
print(min(p))
print(len(p))

(1, 2, 4, 3, 5, 1, 3, 2, 3)
True
False
False
24
5
1
9

In [7]:
a=p*4
print(a)

(1, 2, 4, 3, 5, 1, 3, 2, 3, 1, 2, 4, 3, 5, 1, 3, 2, 3, 1, 2, 4, 3, 5, 1, 3, 2, 3, 1, 2, 4, 3, 5, 1, 3, 2, 3)

In [14]:
r=("gagan","pawan","vishal","pranav")
u=list(r)
print(u)
o=(input("enter a value: "))
u.append(o)
print(u)
r=tuple(u)
print(r)

['gagan', 'pawan', 'vishal', 'pranav']
enter a value: akki
['gagan', 'pawan', 'vishal', 'pranav', 'akki']
('gagan', 'pawan', 'vishal', 'pranav', 'akki')

In [2]:
#CHECKED THAT A TUPLE THAT CANNOT BE CHANGED IN PYTHON
B=(32,43,545)
B[0]=23
print(B)
#DOSENOT ALLOW TO CHANGE THE VALUE IN TUPLE

TypeError: 'tuple' object does not support item assignment

In [ ]:
#WRITE A PROGRAM TO COUNT THE NUMBER OF ZEROS IN FOLLOWING THE TUPL: