In [19]:
g='gagan'
print(g)
print(type(g))

gagan
<class 'str'>

In [18]:
name="gagan"
Name='Pawan'
NAME='VISHAL'
print(name)
print(Name)
print(NAME)

gagan
Pawan
VISHAL

In [7]:
#assign many values to multiple variable
a,b,c,d=1,2,3,4
print(c)

3

In [9]:
#assign single values to multiple variable
a=b=c=d=60
print(c)
print(a)

60
60

In [10]:
#string:-collection of character
a="my name is gagan"
print(a)

my name is gagan

In [20]:
#prinnt a value in multiple lines

a='''my name is gagan
        pawan
              vishal'''
print(a)

my name is gagan
        pawan
              vishal

In [15]:
print(type(a))

<class 'str'>

In [1]:
#count a length 
b='my name is gagan'
print(len(b))
print(type(b))

16
<class 'str'>

In [3]:
#variable cannot be use to space
c d=' my fav game is cricket'
print(c d)

SyntaxError: invalid syntax (3799256125.py, line 2)

In [12]:
d='gagan'
print(d)

gagan

In [11]:
#sum of total number
d=(1,2,3,4,5,6,7)
print(sum(d))

28

In [9]:
#CANNOT BE USE TO BRACKETS
e=("gagan")
f=["gagan"]
g={"gagan"}
print(e)
print(f)
print(g)

gagan
['gagan']
{'gagan'}

In [5]:
d,e=20,25
print(e)

25

In [6]:
a=10
print(a)

10

In [2]:
c=1,2
print(len(c))
print(type(c))

2
<class 'tuple'>

In [1]:
print("welcome to\"gagan\"")

welcome to"gagan"

In [16]:
#compairing string
a="radhe"
b="radhe"
print(a==b)

True

In [7]:
#replaceing string
a="i am gagan \n i love tenis"
b=a.replace("tenis","cricket")
print(a)

print(b)

i am gagan
 i love tenis
i am gagan
 i love cricket

In [8]:
pawan=gagan=vishal=420
print(gagan)

420

In [22]:
#only for joy
a="i would love to play badmintan \n becouse i am a good player"
m=a.replace ("player","athletes")
print(a)
print(m)

i would love to play badmintan
 becouse i am a good player
i would love to play badmintan
 becouse i am a good athletes

In [18]:
h=50
print(type(h))

<class 'int'>

In [5]:
z=1,2,3,4
print(len(z))

4