In [1]:
#LIST:-COLLECTION OF CHARARCTERS, SPECIAL CHARACTER AND NUMBER
#A,B,...
#%,$,&..
#12,2,34..

IndentationError: unexpected indent (1187171407.py, line 6)

In [5]:
abc=['gagan',"vishal","pawan","manish",'gagan']
print(abc)

['gagan', 'vishal', 'pawan', 'manish', 'gagan']

In [10]:
print(len(abc))

5

In [4]:
print(type(name))

<class 'list'>

In [11]:
a=1,2,3,4,5
s="g","b","d","h","l","x"
d=a+s
print(d)

(1, 2, 3, 4, 5, 'g', 'b', 'd', 'h', 'l', 'x')

In [7]:
print(abc[3])

manish

In [7]:
print(name[1:4])

['vishal', 'pawan', 'manish']

In [5]:
name=["g","h","j"]
print(name1,["naman"])

NameError: name 'name1' is not defined

In [20]:
abc.insert(2,"abc")
print(abc)

['gagan', 'vishal', 'abc', 'abc', 'pawan', 'manish', 'gagan']

In [8]:
abc.append("gagan")
print(abc)

['gagan', 'vishal', 'pawan', 'manish', 'gagan', 'gagan']

In [12]:
l1=[1,2,34]
l2=[5,6,7,8]
l1.extend(l2)
print(l1)

[1, 2, 34, 5, 6, 7, 8]

In [10]:
print(abc)

['gagan', 'vishal', 'pawan', 'manish', 'gagan', 'gagan']

In [12]:
abc.pop(2)
print(abc)

['gagan', 'vishal', 'manish', 'gagan', 'gagan']

In [25]:
name=["a","b","c"]
name.remove("b")
print(name)

['a', 'c']

In [9]:
name1=["a","b","c"]
del(name1)

In [3]:
#remove from the name getting the input your user
list3=["gagan","pawan","akki","vishal","pranav"]
u1=str(input("enter the name remove from given list: "))
list3.remove(u1)
print(list3)

enter the name remove from given list: vishal
['gagan', 'pawan', 'akki', 'pranav']

In [4]:
#remove the name given index num by the user
u2=int(input("enter the index num remove the name: "))
list3.pop(u2)
print(list3)

enter the index num remove the name: 2
['gagan', 'pawan', 'pranav']

In [5]:
#enter the name given index num by the user
u3=int(input("enter the index num: "))
u4=str(input("enter the name: "))
list3.insert(u3,u4)
print(list3)

enter the index num: 3
enter the name: akki
['gagan', 'pawan', 'pranav', 'akki']

In [2]:
l8=["gagan","pawan"]
l9=["akki","ninja"]
l9.extend(l8)
print(l9)

['akki', 'ninja', 'gagan', 'pawan']

In [3]:
l9.append("pranav")
print(l9)

['akki', 'ninja', 'gagan', 'pawan', 'pranav']

In [1]:
#WRITE A PROGRAM TO STORE A SEVEN BEST FRND NAME IN A LIST BY THE USER.
f1=(input("enter a Friend name 1: "))
f2=(input("enter a Friend name 2: "))
f3=(input("enter a Friend name 3: "))
f4=(input("enter a Friend name 4: "))
f5=(input("enter a Friend name 5: "))
f6=(input("enter a Friend name 6: "))
f7=(input("enter a Friend name 7: "))
frnd=[f1, f2, f3, f4, f5, f6, f7]
print(frnd)

enter a Friend name 1: gracy
enter a Friend name 2: parul dida
enter a Friend name 3: rani didii
enter a Friend name 4: garima dida
enter a Friend name 5: akki
enter a Friend name 6: pawan
enter a Friend name 7: santosh
['gracy', 'parul dida', 'rani didii', 'garima dida', 'akki', 'pawan', 'santosh']

In [1]:
#WRITE A PROGRAM TO STORE A SIX STUDENTS MARKS IN A SORTED LIST.
m1=int(input("enter a marks: "))
m2=int(input("enter a marks: "))
m3=int(input("enter a marks: "))
m4=int(input("enter a marks: "))
m5=int(input("enter a marks: "))
m6=int(input("enter a marks: "))
m=[m1,m2,m3,m4,m5,m6]
m.sort()
print(m)

enter a marks: 45
enter a marks: 65
enter a marks: 58
enter a marks: 54
enter a marks: 65
enter a marks: 65
[45, 54, 58, 65, 65, 65]

In [2]:
#WRITE A PROGRAM TO SUM A LIST WITH 4 NUMBERS.
A=[23,344,54,65]
print(sum(A))

486

In [1]:
print("Hello")

Hello