In [1]:
#variables-variables are used to store the value variables are created as we assign a value 
#variables are containers for storing the data vlues.....

#examples 
x=1
y="akki"
print(x)
print(y)

1
akki

In [2]:
#type- we can get the data type of variable with the type() function 
#example 
a=1
s="nitin"
n=.5
print(type(a))
print(type(s))
print(type(n))

<class 'int'>
<class 'str'>
<class 'float'>

In [3]:
#single or double quotes :-string variables can be declared by using single or double quotes, double quotes are same as single quotes in python language
#example
a='akki'
s="sharma"
print(a)
print(s)

akki
sharma

In [4]:
#variable names are case-sensitive.
#example
a='akki'
A='sharma'
print(a)#(a) will not overwrite (A)
print(A)#(A) will not overwrite (a)

akki
sharma

In [5]:
#variable names:- A variable can have short name (like x & y) & a more descriptive name
#Rules for Python variables:-

#(1) A variable name must start with a letter or the underscore character 
#example 
akki="nitin"
_nitin="sharma"
print(akki)
print(_nitin)

nitin
sharma

In [6]:
#(2) A variable name cannot start with a number
#example
2akki="sharma"
print(2akki)#it will show us syntax error

SyntaxError: invalid syntax (560493887.py, line 3)

In [ ]:
#(3) A variable name can only contains alphanumeric characters and underscore (A-z,0-9,&_)
#example
akKi_1="akkisharma"
print(akKi_1)

In [ ]:
#(4) variable names  are case-sensitive(akki,Akki,AKKI are three different variable names)
#example
akki="AKKI"
print(akki)
Akki="NITIN"
print(Akki)
AKKI="SharmA"
print(AKKI)

In [ ]:
# Python variables-Assign multiple values:-
#(1)many values to multiple variables 
#example
a,b,c=1,2,3
print(a)
print(b)
print(c)

In [ ]:
#(2)one value to multiple variables:- we can assign the same value to multiple variables 
#example 
a=b=c=d="akshaykaushik"
print(a)
print(b)
print(c)
print(d)

In [ ]:
#variable can't be used to space
c d='driving is my hobby'
print(c d)#it will show us syntax error

In [ ]:
# STRING:- String is a collection of alphabets, words or other characters.
#String is a set or combination of characters
#types of characters
#1 special characters:- #,@,$,*,%,!.....
#2  numeric characters:- 1,2,3,4,5.....
#3 alphabets:- a,b,c,d,e.....

#example

a="i'm Akki sharma, my mail id is akshaykaushik2001@gmail.com"
print(a)

In [ ]:
# Strings are surrounded by either single quotes marks('') or double quotes marks("") in Python.
#example 
x='nothing is permanent in the world'
print(x)
y="one thing is certain in life, that nothing is fixed in life"
print(y)

#In Python we can print multiple lines together as like a paragraph by using triple quotes(""" """).
#example

a="""the advice of the loser,
          the experience of the winner,
& the mind itself,
          never let a person lose in life"""   
print(a)
print(type(a))

In [38]:
#count length of string....
x='what is your name'
print(len(x))
print(type(x))

17
<class 'str'>

In [39]:
#sum of total number
y=(9,8,7,6,5,4,3,2,1)
print(sum(y))

45

In [40]:
len=("go to\"hell\"")
print(len)

go to"hell"

In [41]:
#comparing string....
c='radheee'
d='krishna'
print(c==d)

e='mahaDEV'
f='mahadev'
print(e==f)

g='mahadev'
h='mahadev'
print(g==h)

False
False
True

In [42]:
#replacing string.....
i="i am akki sharma\n singing is my hobby"
print(i)
j=i.replace("singing","driving")
print(j)

k='what is your name\n my name is akki'
print(k)
l=k.replace('akki','nitin')
print(l)

i am akki sharma
 singing is my hobby
i am akki sharma
 driving is my hobby
what is your name
 my name is akki
what is your name
 my name is nitin

In [15]:
#DATA TYPE....
#LIST:-It's a collection of characters, special characters & numbers 
#Special characters:-@,#,$,%,*......
#characters:-a,b,c,d,e......
#numbers:-1,2,3,4,5......
#allow duplicate & changeable....


fruits=["blackberry","guava","grapes","pineapple","orange"]
print(fruits)
print(len(fruits))
print(type(fruits))

n=("a","b","c","d")
print(n)
o=("1","2","3","4","5")
print(o)
p=("@","#","$","%","*")
print(p) 
m=("#","*","a","b",1,2)
print(m)

['blackberry', 'guava', 'grapes', 'pineapple', 'orange']
5
<class 'list'>
('a', 'b', 'c', 'd')
('1', '2', '3', '4', '5')
('@', '#', '$', '%', '*')
('#', '*', 'a', 'b', 1, 2)

In [16]:
#choosing a specific value from list....
vegetables=["cucumber","potato","tomato","chilly","onion"]
print(vegetables[1])

potato

In [22]:
vegetables=["cucumber","potato","tomato","chilly","onion"]
print(vegetables[1:2])

['potato']

In [23]:
#insert an element in the list...
fruits=["blackberry","guava","grapes","pineapple","orange"]
fruits.insert(3,"apple")
print(fruits)

['blackberry', 'guava', 'grapes', 'apple', 'pineapple', 'orange']

In [24]:
#append....
name=["akki","nitin","niranjan","tushar"]
name.append("kay-d")
print(name)

['akki', 'nitin', 'niranjan', 'tushar', 'kay-d']

In [26]:
#extend a list....
boys=["anil","sunil","rohit","amit"]
girls=["sheela","kokila","lalita"]
boys.extend(girls)
print(boys)

boys=["anil","sunil","rohit","amit"]
girls=["sheela","kokila","lalita"]
gribs=boys+girls
print(gribs)

['anil', 'sunil', 'rohit', 'amit', 'sheela', 'kokila', 'lalita']
['anil', 'sunil', 'rohit', 'amit', 'sheela', 'kokila', 'lalita']

In [31]:
#use of POP.....

boys=["anil","sunil","rohit","amit"]
boys.pop()
print(boys)

['anil', 'sunil', 'rohit']

In [30]:
#delete....
girls=["sheela","kokila","lalita","anita","kanika"]
del(girls)

In [32]:
#remove.....

girls=["sheela","kokila","lalita","anita","kanika"]
girls.remove("kokila")
print(girls)

['sheela', 'lalita', 'anita', 'kanika']

In [53]:
#Math:-Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.
#here are some functions...

#minimum:-it is used to find the shortest value 
#min()
p=10,30,90,80
print(min(p))

#maximum:-it is used to find greatest value 
#max()
print(max(p))

#power:-it is used to find the square of given number
#pow()
q=20
r=3
print(pow(q,r))

#absolute:-it gives us the positive value
#abs()
s=-1
print(abs(s))

#squareroot:- this function returns the squareroot of given number
#sqrt()
import math
t=math.sqrt(64)
print(t)


#isqrt()
import math
u=math.isqrt(81)
print(u)
y=math.isqrt(65)
print(y)


#floor()
import math
v= math.floor(5.5)
print(v)
y=math.floor(5.7)
print(y)
    

#ceil()
import math
x=math.ceil(5.5)
print(x)
z=math.ceil(5.7)
print(z)

#NOTE:-we have to import the math module in functions(sqrt,isqrt,floor,ceil)

10
90
8000
1
8.0
9
8
5
5
6
6

In [ ]:
#CoNDITIONAL STATEMENTS.....

#SYNTAX:- if,elif,else statements.....
#if condition:
 #body
  #elif:
      #body
    #else:
        #statement

In [4]:
star=(input("enter any value:"))
if star=="yes":
    print("most welcome")
elif star=="not":
    print("just go away")
    if star=="please":
        print("it's my pleasure")
else:
    print("go to hell")

enter any value:yes
most welcome

In [8]:
#VENDING MACHINE.....

rupee=int(input("enter any value:"))
if rupee==100:
    print("shirt")
elif rupee==20:
        print("lays")
        if rupee==40:
            print("bread")
elif rupee==10:
        print("kurkure")
elif rupee==90:
        print("dew")
        if rupee==200:
            print("cake")
else:
    print("nothing")

enter any value:90
dew

In [7]:
#FIND EVEN  NUMBER & ODD NUMBER.....

user=int(input("enter any value:"))
if user%2==0:
    print("even number")
else:
    print("odd number")

enter any value:8
even number

In [1]:
#program to calculate the squareroot of any number...
shut=int(input("enter any value:"))
up=0.5
l=shut**up
print(l)

enter any value:36
6.0

In [3]:
#program to find the area OF RECTANGLE.........

num=int(input("enter a width:"))
numb=int(input("enter a height:"))
mun=(num*numb)
print(mun)

enter a width:5
enter a height:4
20

In [4]:
# y=mx+c

m=int(input('enter any value:'))
x=int(input('enter any value:'))
c=int(input('enter any value:'))
y=m*x+c
print('the equation is:',y)

enter any value:9
enter any value:8
enter any value:8
the equation is: 80

In [14]:
user=int(input("enter any value:"))
if user==4:
    print("akki")
    if user==3:
        print("sharma")
        if user==2:
            print("akshay")
            if uers==1:
                print("kaushik")
else:
    print("lalabaman")

enter any value:4
akki

In [5]:
# OPERATORS......

#ARITHMATIC OPERATORS
#ADDITION
a=9
b=6
c=a+b
print(c)

#SUBTRACTION
c=a-b
print(c)

#multiplication
c=a*b
print(c)

#divison
c=a/b
print(c)

#moduls
c=a%b
print(c)

#floorwision
d=90
e=4
f=d//e
print(f)

15
3
54
1.5
3
22

In [1]:
a=int(input('enter any value:'))
b=int(input('enter any value:'))
c=int(input('enter any value:'))
d=int(input('enter any value:'))
if a>b:
    print('a is max')
elif a>c:
    print('a is max')
elif a>d:
    print('a is max')
elif b>a:
    print('b is max')
elif b>c:
    print('b is max')
elif b>d:
    print('b is max')
elif c>a:
    print('c is max')
elif c>b:
    print('c is max')
elif c>d:
    print('c is max')
elif d>a:
    print('d is max')
elif d>b:
    print('d is max')
elif d>c:
    print('d is max')
else:
    print('nothing')

enter any value:1
enter any value:2
enter any value:3
enter any value:4
b is max

In [19]:
#assignment operators...

#equal to(=)
a=20
print(a)

#add/plus equal to(+=)
b=15
b+=5
print(b)

#subtract/minus equal to(-=)
b-=5
print(b)

#multiple equal to(*=)
b*=2
print(b)

#divison equal to(/=)
c=60
c/=3
print(c)

#moduls equal to(%=) doubt........
d=80
d%=2
print(d)

20
20
15
30
20.0
0

In [22]:
#comparison operators.....

#equal to(==)
a=20
b=20
print(a==b)
c=10
d=8
print(c==d)

#greater than(>)
e=5
f=8
print(f>e)
print(e>f)

#less than(<)
g=9
h=10
print(g<h)
print(h<g)

#greater than equal to (>=)
i=10
j=20
print(j>=i)
print(i>=j)

#less than equal to(<=)
k=20
l=15
print(l<=k)
print(k<=l)

#not equal to(!=)
m=2
n=3
print(m!=n)
o=5
p=5
print(o!=p)

True
False
True
False
True
False
True
False
True
False
True
False

In [27]:
#identity operators....

#is
a=5
b=5
print(a is b)
e=8
f=9
print(e is f)
#is not
c=7
d=7
print(c is not d)
g=10
h=9
print(g is not h)

True
False
False
True